/* html { */
    /* background-color: #252a36; */
    /* font-family: "Vazir", "tahoma", "Ubuntu" !important; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    /* background: linear-gradient(359.3deg, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 70.9%) no-repeat;  
  width: 100%;
  height: 100%; */

  /* } */